<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Bootstrap/css")
    @Styles.Render("~/Like/css")
    @Styles.Render("~/Image/css")
    @Styles.Render("~/Comment/css")


    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("headscripts", required: false)
</head>
<body>
    
    @Html.Partial("_Menu")


    <div class="container" style="margin-top: 60px">
        @RenderBody()

        <footer align="center">
            <p>&copy; Company 2015</p>
        </footer>

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/Bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
