@model MVC.Models.PhotoPageModel

<div class="section">
    <div class="container">
        <div class="row">


            @foreach (var group in Model.Photos.Select((e, i) => new { Item = e, Grouping = (i / 3) }).GroupBy(e => e.Grouping))
            {
                <div class="row">
                    @foreach (var photo in group)
                    {
                        <div class="col-md-4">
                            <div class="well" align="center">
                                <a href=@Url.Action("Details", "Photo", new { id = photo.Item.Id })>
                                    <img class="thumbnail img-responsive preview" src=@Url.Content(@photo.Item.PhotoLink) />
                                </a>  
                                <div style="float: left">                                    
                                    @Html.ActionLink(photo.Item.UserName, "User", "User", new { user = photo.Item.UserName }, null)
                                </div> 
                                <span  class="glyphicon glyphicon-heart-empty" style="float: right">@photo.Item.LikesNumber</span>                               
                            </div>

                        </div>
                    }
                </div>
            }

        </div>
        <div>
            @if (!Model.PageStatus.PageFirst)
            {
                <div class="previous">
                    @Html.ActionLink("Previous", Model.DefaultDestination.Action , Model.DefaultDestination.Controller, new { page = Model.PageStatus.PagePrevious }, new { @class = "btn btn-default" })
                </div>
            }
            @if (!Model.PageStatus.PageLast)
            {
                <div class="next">
                    @Html.ActionLink("Next", Model.DefaultDestination.Action, Model.DefaultDestination.Controller, new { page = Model.PageStatus.PageNext }, new { @class = "btn btn-default" })
                </div>
            }

        </div>
    </div>
</div>


