@model MVC.Models.PhotoModel

@{
    ViewBag.Title = Model.Title;
}


<fieldset>


    <div>
        <img class="full" src=@Url.Content(@Model.PhotoLink) alt=""><p></p>
    </div>


    <div class="row image-description">
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Title)
            <br />
            @if (Model.UserName == User.Identity.Name)
            {
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
            }
            else
            {
                @Html.DisplayFor(model => model.UserName)
            }
        </div>
        <div class="col-md-4">
            <div style="float: right; display: inline-block">
                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    <div>

                        @using (Ajax.BeginForm("LikeResolve", "Like", new AjaxOptions()
                         {
                             UpdateTargetId = "likes",
                             InsertionMode = InsertionMode.Replace,
                             OnBegin = string.Format("pressLike({0})", @Model.Id)
                         }))
                        {

                            <input type="hidden" name="id" value=@Model.Id />
                            <input id=@Model.Id type="hidden" name="status" value=@((Model.Like ? MVC.Helpers.Status.Dislike : MVC.Helpers.Status.Like).ToString().ToLower()) />
                            @MVC.Helpers.LikeButtonHelper.LikeButton(Html, Model.Like, Model.Id)
                        }

                    </div>
                }
            </div>
            <div style="float: right; margin-right: 10px">
                @Html.DisplayFor(model => model.CreatedDateTime)
                <div>
                    <span>Like</span>
                    <span id="likes" class="display-field">
                        @Html.DisplayFor(model => model.LikesNumber)
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div id="comment-result">
        @Html.Partial("CommentsList", Model.Comments)
    </div>

    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        <div>
            @using (Ajax.BeginForm("Add", "Comment", new AjaxOptions()
            {
                UpdateTargetId = "",
                InsertionMode = InsertionMode.InsertAfter,
                OnSuccess = "OnLoadComment"

            }))
            {
                <input id="last" type="hidden" name="last" value="@(Model.Comments != null ? Model.Comments.Count() : 0)" />

                <input type="hidden" name="id" value=@Model.Id />
                <textarea class="full-input" name="comment" id="comments" required></textarea>
                <input type="submit" value="Send" />
            }
        </div>
    }




</fieldset>



@section scripts{ @Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/Comments")
}
@section headscripts{ @Scripts.Render("~/bundles/Likes")}